body {
font-family: 'Montserrat', sans-serif;
background: #222;
color: #f8f8f8;
}

.navbar-brand {
  font-size: 34px;
}

.navbar-text {
  margin-right: 0px !important;
  font-size: 15px !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.vertical-center-main {
  min-height: 60%;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.jumbotron {
  background: inherit;
  color: inherit;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.form-control {
  background-color: #f8f8f8 !important;
  line-height: 0;
  font-size: 12px;
  height: 30px;
}

.form-control .edit {
  background-color: #f8f8f8 !important;
  line-height: 0;
  font-size: 13px;
}

.btn {
  font-size: 12px;
  margin: 5px;
}

.jumbotron .container {
    max-width: 30%;
    min-width: 30%;
}

.navbar-default .navbar-brand {
    color: #f8f8f8;
}

.navbar-default {
    background-color: #222;
    border-color: #222;
}

.navbar-default .navbar-link {
    color: #f8f8f8;
    text-decoration: none;
}

.row {
  margin-top: 100px;
}

@media (max-width: 400px) {
.navbar-brand {
  font-size: 25px;
}
}

.col-md-3 {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 10px;
}

.btn-primary {
  background-color: inherit;
  border-color: #f8f8f8;
  width: 180px;
  margin-bottom: 7px;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: inherit;
  border-color: #f8f8f8;
}
.btn-primary:hover {
  color: #fff;
  background-color: #282828;
  border-color: #f8f8f8;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: inherit;
  border-color: #f8f8f8;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: inherit;
  border-color: #f8f8f8;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: inherit;
  border-color: #f8f8f8;
}

.well {
  color: #222;
  font-size: 12px;
  margin-left: 56px;
  margin-right: 56px;
  text-align: left;
  padding: 9px;
  padding-bottom: 3px;
}

@media (max-width: 1200px) {
.well {
  margin-left: 32px;
  margin-right: 32px;
}
}

@media (max-width: 992px) {
.well {
  margin-left: 31px;
  margin-right: 31px;
}
}

.split {
  display: block;
}

.split span {
  display: block;
  float: right;
}

.input-group {
  margin: 5px;
}

.col-md-4 .col-md-offset-4 .register {
  text-align: center;
}
