html, body {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  background: #fff;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: 0px;
	font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand {
	font-size: 2em;
  color: #fff !important;
  padding-left: 25px;
}

a:hover {
  color: #ffaaaa !important;
}

#splash {
  background-color: #068D9D;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

}

.splash-title {
  font-size: 3.5em;
  font-weight: 700;
}

.lower-title {
  font-size: 3em;
  font-weight: 500;
  color: #333;
}

#lower {
  margin-top: 50px;
  margin-bottom: 150px;
}

.info {
  font-size: 1.4em;
  font-weight: 600;
}

.more-info {
  font-size: 1.1em;
  font-weight: 600;
  word-wrap: break-word;
  font-family: 'Nunito', sans-serif;
}

.more-info a {
  color: #ffaaaa !important;
}

.more-info a:hover {
    position: relative;
}
.more-info a:hover:after {
    content: url(chinacola.png);
    display: block;
    position: absolute;
    left: 70px;
    top: -500px;

}

.simple-section {
  font-size: 1.1em;
  font-weight: 600;
  word-wrap: break-word;
  font-family: 'Nunito', sans-serif;
}

.simple-section a {
  color: #ffaaaa !important;
}

.navbar-default {
  background-color: #232323;
  padding: 10px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-fixed-bottom {
  background-color: #232323;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-fixed-bottom a {
  color: #ffaaaa;
  text-decoration: none;
}

#hr-splash {
    border: none;
    height: 5px;
    color: #fff; /* old IE */
    background-color: #fff; /* Modern Browsers */
    width: 50%;
}

#hr-lower {
    border: none;
    height: 5px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    width: 50%;
}

.navbar-text {
  float: right;
  margin-right: 25px;
}

.radio {
	text-align: left !important;
}

.results {
	float: left;
	font-size: 15px;
	line-height: 40px;
	text-align: left !important;
	text-transform: uppercase;
	margin-top: 10px;
	width: 100%;
}

.vote-yes {
	margin-bottom: 5px;
}

.vote-title-no {
	padding-right: 6px;
}

.col-border {

}

label {
	font-weight: 200 !important;
}

.survey-button {
	width: 100px;
	color: #000;
}

.survey-button input:hover{
	color: #ffaaaa;
}

.survey-button button:hover{
	color: #ffaaaa;
}

.col-sm-6 {
	margin-bottom: 15px;
}
